In [11]:
import sqlite3
import pandas as pd
from sqlalchemy import create_engine

In [7]:
%load_ext sql
%sql sqlite:///database/user_presets.db

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [8]:
%%sql
SELECT * 
FROM sqlite_schema

 * sqlite:///database/user_presets.db
Done.

[('table', 'user_presets', 'user_presets', 2, 'CREATE TABLE user_presets (\n\tid INTEGER NOT NULL, \n\tusername VARCHAR, \n\tprofilename VARCHAR, \n\ttime_line VARCHAR, \n\tmedia_buyer VARCHAR, \n\tactiver_days INTEGER, \n\tcampaign VARCHAR, \n\tPRIMARY KEY (id)\n)'),
 ('index', 'ix_user_presets_username', 'user_presets', 3, 'CREATE UNIQUE INDEX ix_user_presets_username ON user_presets (username)'),
 ('index', 'ix_user_presets_id', 'user_presets', 4, 'CREATE INDEX ix_user_presets_id ON user_presets (id)'),
 ('index', 'ix_user_presets_profilename', 'user_presets', 5, 'CREATE UNIQUE INDEX ix_user_presets_profilename ON user_presets (profilename)')]

In [9]:
%%sql
SELECT name
FROM sqlite_schema
WHERE type = "table"

 * sqlite:///database/user_presets.db
Done.

[('user_presets',)]

In [15]:
%%sql
select *
from user_presets
;

 * sqlite:///database/user_presets.db
Done.

[(1, 'lekewhite', 'Leke_test', '7 Days', 'Tom', 15, 'TG_Accounting_Software_BR_Open_0421')]

In [30]:
engine = create_engine('sqlite:///database/user_presets.db')

# Your SQL query
query = "SELECT * FROM user_presets"

# Execute the query and fetch the results into a Pandas DataFrame
df = pd.read_sql_query(query, engine)

In [31]:
df.head()

,id,username,profilename,time_line,media_buyer,activer_days,campaign
0,1,lekewhite,Leke_test,7 Days,Tom,15,TG_Accounting_Software_BR_Open_0421
1,2,Tom,TOM_test,7 Days,Tom,15,TG_Accounting_Software_BR_Open_0421
2,3,Luke,LUKE_test,Lifetime,Luke,13,B125_CosmeticSurgeryinMX_IN_0904
3,4,Alice,ALICE_test,Lifetime,Luke,12,B125_CosmeticSurgeryinMX_IN_0904