In [11]:
# ! pip install matplotlib

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
import plotly.express as px
warnings.filterwarnings('ignore')
# % matplotlib inline

In [2]:
df_test = pd.read_csv("data_for_dash.csv")
df_full = pd.read_csv("data_for_dash_full.csv")

In [3]:
df_test.head()

,ACTIVITY_DATE,MEDIA_BUYER,CAMPAIGN,SPEND,REVENUE,DAILY_PROFIT,TOTAL_PROFIT,DAILY_RETURN,TOTAL_RETURN,LANDER_ARRIVALS,SERP_ARRIVALS,AD_CLICKS,ACCEPTED_CLICKS,ACCEPTANCE_RATE,SPEND_PER_ARRIVAL,REVENUE_PER_ARRIVAL,PROFIT_PER_ARRIVAL
0,2023-11-01,Tom,TG_Oct3_Thai_Vacation_packages_BL,103.0896,74.13,-28.9596,-28.9596,-0.280917,-0.280917,12814,3685,3692,1997.0,0.540899,0.008045,0.005785,-0.002260
1,2023-11-02,Tom,TG_Oct3_Thai_Vacation_packages_BL,100.5130,80.29,-20.2230,-49.1826,-0.201198,-0.482115,15175,4144,3668,2155.0,0.587514,0.006624,0.005291,-0.001333
2,2023-11-03,Tom,TG_Oct3_Thai_Vacation_packages_BL,100.8974,82.45,-18.4474,-67.6300,-0.182833,-0.664948,16191,3968,3677,2030.0,0.552081,0.006232,0.005092,-0.001139
3,2023-11-04,Tom,TG_Oct3_Thai_Vacation_packages_BL,99.7021,73.65,-26.0521,-93.6821,-0.261299,-0.926247,12711,3598,4722,2006.0,0.424820,0.007844,0.005794,-0.002050
4,2023-11-05,Tom,TG_Oct3_Thai_Vacation_packages_BL,99.9932,71.87,-28.1232,-121.8053,-0.281251,-1.207498,13937,3791,4304,1867.0,0.433783,0.007175,0.005157,-0.002018

In [4]:
df_full.head()

,ACTIVITY_DATE,MEDIA_BUYER,CAMPAIGN,SPEND,REVENUE,DAILY_PROFIT,TOTAL_PROFIT,DAILY_RETURN,TOTAL_RETURN,LANDER_ARRIVALS,SERP_ARRIVALS,AD_CLICKS,ACCEPTED_CLICKS,ACCEPTANCE_RATE,SPEND_PER_ARRIVAL,REVENUE_PER_ARRIVAL,PROFIT_PER_ARRIVAL
0,2023-09-01,Luke,LH_HairTransplant_VT_0411,5.39,11.28,5.89,5.89,1.092764,1.092764,132,102,0,91.0,inf,0.040833,0.085455,0.044621
1,2023-09-02,Luke,LH_HairTransplant_VT_0411,8.97,14.09,5.12,11.01,0.570792,1.663556,192,129,0,100.0,inf,0.046719,0.073385,0.026667
2,2023-09-03,Luke,LH_HairTransplant_VT_0411,8.19,12.51,4.32,15.33,0.527473,2.191028,201,133,0,99.0,inf,0.040746,0.062239,0.021493
3,2023-09-04,Luke,LH_HairTransplant_VT_0411,6.07,11.47,5.40,20.73,0.889621,3.080650,164,108,0,80.0,inf,0.037012,0.069939,0.032927
4,2023-09-05,Luke,LH_HairTransplant_VT_0411,4.58,10.81,6.23,26.96,1.360262,4.440912,131,93,0,72.0,inf,0.034962,0.082519,0.047557

In [5]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ACTIVITY_DATE        100 non-null    object
 1   MEDIA_BUYER          100 non-null    object
 2   CAMPAIGN             100 non-null    object
 3   SPEND                100 non-null    float64
 4   REVENUE              100 non-null    float64
 5   DAILY_PROFIT         100 non-null    float64
 6   TOTAL_PROFIT         100 non-null    float64
 7   DAILY_RETURN         100 non-null    float64
 8   TOTAL_RETURN         100 non-null    float64
 9   LANDER_ARRIVALS      100 non-null    int64
 10  SERP_ARRIVALS        100 non-null    int64
 11  AD_CLICKS            100 non-null    int64
 12  ACCEPTED_CLICKS      100 non-null    float64
 13  ACCEPTANCE_RATE      100 non-null    float64
 14  SPEND_PER_ARRIVAL    100 non-null    float64
 15  REVENUE_PER_ARRIVAL  100 non-null    float64
 16  PROFIT_PER_ARRIVAL   100 non-null    float64
dtypes: float64(11), int64(3), object(3)
memory usage: 13.4+ KB

In [8]:
df_test['ACTIVITY_DATE'] = pd.to_datetime(df_test['ACTIVITY_DATE'], format="%Y-%m-%d")

In [9]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 17 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ACTIVITY_DATE        100 non-null    datetime64[ns]
 1   MEDIA_BUYER          100 non-null    object
 2   CAMPAIGN             100 non-null    object
 3   SPEND                100 non-null    float64
 4   REVENUE              100 non-null    float64
 5   DAILY_PROFIT         100 non-null    float64
 6   TOTAL_PROFIT         100 non-null    float64
 7   DAILY_RETURN         100 non-null    float64
 8   TOTAL_RETURN         100 non-null    float64
 9   LANDER_ARRIVALS      100 non-null    int64
 10  SERP_ARRIVALS        100 non-null    int64
 11  AD_CLICKS            100 non-null    int64
 12  ACCEPTED_CLICKS      100 non-null    float64
 13  ACCEPTANCE_RATE      100 non-null    float64
 14  SPEND_PER_ARRIVAL    100 non-null    float64
 15  REVENUE_PER_ARRIVAL  100 non-null    float64
 16  PROFIT_PER_ARRIVAL   100 non-null    float64
dtypes: datetime64[ns](1), float64(11), int64(3), object(2)
memory usage: 13.4+ KB

In [25]:
end_date = df_test['ACTIVITY_DATE'].max()
str(end_date).split(' ')[0]

'2023-11-08'

In [26]:
from datetime import timedelta

def roll_back_days(most_recent_date, days_to_roll_back):
   

    # Calculate the rolled-back date
    rolled_back_date = most_recent_date - timedelta(days=days_to_roll_back)

    return rolled_back_date

In [27]:
start_date = roll_back_days(most_recent_date, 7)

In [28]:
# df_date = df[df["ACTIVITY_DATE"].between

In [31]:
filtered_df = df_test.loc[(df_test['ACTIVITY_DATE'] >= start_date) & (df_test['ACTIVITY_DATE'] <= end_date)]

In [32]:
len(filtered_df)

100

In [33]:
len(df_test)

100